.footer {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

.container {
    width: 1248px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}



